body {
    background: #c9d6ff;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 50, 0.8)), url("../img/sharegrid-0CDQmNmpKr4-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.bg {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 50, 0.8)), url("../img/sharegrid-0CDQmNmpKr4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    padding-bottom: 100%;
}

.frame {
    background-color: #fff;
}

.padded {
    padding: 0 2rem;
}

.level.fill-height {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
}

.col-6:first-child {
    padding-left: 0;
}

.col-6:last-child {
    padding-right: 0;
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 0.5rem;
}

.btn-info {
    margin-left: 1rem;
}

.content-body {
    width: 98%;
}

.content-outer {
    margin: 100px auto 1.5em;
    width: 100%;
}

.divider {
    margin-top: 40px;
    margin-bottom: 40px;
}

#footer-divider {
    margin-top: 100px;
}

#hero-title {
    font-size: 4rem;
}